#icon-upload{
  height: 10px;
  width: 30%; 
  margin: auto;
  align-items: center;
}
#btn_upload {
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin-top: 50%;
}
form{
  position: absolute;
  top: 40%;
  left: 55%;
  margin-top: -30px;
  margin-left: -200px;
  width: 300px;
  height: 200px;
}

form input{
  position: relative;
  margin-left: -100px;
  
}
form button{
  margin: 0;
  color: #fff;
  background: #16a085;
  border: none;
  width: 508px;
  height: 35px;
  margin-top: -20px;
  margin-left: -4px;
  border-radius: 4px;
  border-bottom: 4px solid #117A60;
  transition: all .2s ease;
  outline: none;
}
form button:hover{
  background: #149174;
  color: #0C5645;
}
form button:active{
  border:0;
}

.text_input {
    border: 1px solid white;
    border-radius: 18px;
    text-align: center;
    background-color: #ffffff00;
    width: 250px;
    height: 40px;
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    margin-top: 25px; 
    margin-left: -85px;
    font-weight: 300;
}
[type='text']:focus{
  background-color: #ffffff00;
  color: white;
}
@media print, screen and (min-width: 1280px){
  .text_input {
    margin-top: 70px;
    margin-left: -100px;
  }
  #btn_upload{
    margin-left: -40px;
  }
}
input::placeholder {
  color: #ffffff

}